@import url('https://fonts.googleapis.com/css2?family=Karla');
@import url('https://fonts.googleapis.com/css2?family=Inter');

.App {
  display: grid;
  place-items: center;
  place-content: center;
  background: #0B2434;
  width: 100vw;
  height: 100vh;
}

.main {
  display: grid;
  place-items: center;
  place-content: center;
  grid-gap: 1.0em;
  background: #F5F5F5;
  width: 85vw;
  height: 85vh;
  border-radius: 10px;
}

.main--counter {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13.1072px;
  line-height: 16px;
  display: flex;
  align-self: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #4A4E74;
}

.main--title-container {
  display: grid;
  place-items: center;
  place-content: center;
  width: 50vw;
  height: 10vh;
}

.main--title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 25.6px;
  line-height: 30px;
  display: flex;
  align-self: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #2B283A;
}

.main--description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13.1072px;
  line-height: 16px;
  display: flex;
  align-self: center;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #4A4E74;
}

.main--die-container {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
  grid-gap: 2.0em;
  width: 40vw;
  height: 40vh;
}

.main--die-roller-button {
  height: 50px;
  width: 150px;
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16.384px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
}

.main--die-roller-button:focus {
  outline: none;
}

.main--die-roller-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
